* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    padding: 30px;
    gap: 20px;
    background-color: #667ac8;
}
p {
    margin: 0;
    padding: 0;
    width: 290px;
    box-sizing: border-box;
}

/* tarjeta contenedora */
.grid-item {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(15, 22, 72);
    width: 260px;
    height: 260px;
    border-radius: 3%;
    background-color: rgb(52, 59, 141);
    text-decoration: none;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.grid-item a {
    text-decoration: none;
}
.img-cert {
    width: 245px;
    height: 170px;
    border-radius: 3%;
}
/* Contenedor del combre del curso */
.nombre-curso {
    width: 260px;
    height: 70px;
    display: flex;
    align-items: center;

}
/* nombre de la imagen */
.img-name {
    width: 236px;
    color: white;
    text-align: center;
    font-size: 14px;
}