* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header principal */
.head-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 230px;
    background-color: rgb(81, 116, 229);
}
.image-container {
    width: 80px;
    height: 80px;
    margin: 20px;
}
.image-container #avatar {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 5px double white;
}
.personal-info {
    display: flex;
    height: 80px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}

/* Peersonal Info */
.personal-info div {
    font-size: 20px;
}
.personal-info p {
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}

.line {
    width: 300px;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Header derecha */
.nav-links {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.nav-links .item {
    list-style: none;
   
}
.nav-links a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    border-radius: 35px;
    transition: .4s;
}
.nav-links a:hover {
    background-color: lightgrey;
    color: rgb(111, 111, 235);
    text-decoration: none;

}

/* container disposicion del Main */
.container{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background-color:rgb(215, 221, 221);
    justify-content: center;
    align-items: center;
    background-image: url('../images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.side-left {
    display: flex;
    width: 300px;
}
.side-right {
    width: 300px;
}
.certificados {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color:rgb(203, 181, 240);
    padding: 30px 20px 30px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
}
.aside-column {
    display: flex;
    flex-direction: column;
    height: inherit;
}
.aside-card {
    display: flex;
    width: 310px;
    height: 210px;
    border-radius: 15px;
    background-color: rgb(111, 88, 245);
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}
section {
    display: flex;
    flex-direction: row;
    position: relative;
    align-content: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    height: auto;
    margin-bottom: 10px;
}
.section-image {
    display: flex;
    width: 295px;
    height: 195px;
    border-radius: 15px;
}
.section-image:hover {
    width: 307px;
    height: 207px;
    opacity: .6;
    transition: 0.3s;
}
section div {
    width: 150px;
    margin: 20px;
    justify-content: left;
}

/* Footer principal */
.footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightslategray;
}
.footer-left {
    width: 35%;
    margin-left: 20px;
}
.rrss {
    display: flex;
    justify-content: space-between;
}
.rrss li {
    list-style: none;
}
.rrss li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 35px;
    transition: .4s;
}
.rrss li a:hover {
background-color: lightgrey;
    color: yellow;
    text-decoration: none;
}
.rrss li a:active {
        color: red;
}


.footer-right {
    color: blue;
    font-size: 14px;
    font-weight: bold;
    margin-right: 30px;
}