* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.curriculum-container {
    width: 100%;
    display: flex;
    background-color: #667ac8;
}
.laterales {
    width: 25%;
}
.central-col {
    width: 50%;
    height: 53vh;
    background-color: rgb(230, 205, 172);
    color: rgb(103, 102, 102);
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}
.presentation {
    width: 430px;
    height: 210px;
    border-radius: 15px;
    padding: 30px 40px;
    border: 1px solid grey;
    border-radius: 15px;
    color: #000;
}
.presentation p {
    text-decoration: none;
    color: grey;
    font-size: 16px;
}
.presentation p a {
    color: darkslategrey;
    text-decoration: none;
    font-weight: bold;
}
.presentation p a:hover {
    color: goldenrod;
}

@media(max-width:600px){
    .presentation {
        border-radius: 0;
        border: none;
    }
}