* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.curriculum-container {
    width: 100%;
    height: calc(100vh - 306px);
    display: flex;
    background-color: #667ac8;
}
.laterales {
    width: 25%;
    height: auto;
}
.central-col {
    width: 50%;
    height: auto;
    background-color: rgb(230, 205, 172);
    color: rgb(103, 102, 102);
    display: flex;
    align-items: center;
    justify-content: center;
}
.presentation {
    text-align: center;
    width: 400px;
    height: 210px;
    border: 3px double gray;
    border-radius: 15px;
    padding: 30px 40px;
    color: #000;
}
.presentation p {
    text-decoration: none;
    color: grey;
    font-size: 16px;
}
.presentation p a {
    color: darkslategrey;
    text-decoration: none;
    font-weight: bold;
}
.presentation p a:hover {
    color: goldenrod;
}