* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
/* container disposicion del Main */
.curriculum-container {
    display: flex;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
   background-color: #667ac8;
    justify-content: center;
}
.box-download {
    box-sizing: border-box;
    background-color: #46518e;
    color: white;
    width: 450px;
    height: 240px;
    border-radius: 35px;
    padding: 10px;
    margin-top: 30px;
}
.presentation {
    justify-content: center;
    width: auto;
    height: 110px;
    padding: 15px 40px 20px 60px;
}
hr {
    margin-left: 40px;
    margin-right: 40px;
}
.presentation h4 {
    padding-bottom: 5px;
}
.curriculum {
    justify-content: center;
    width: auto;
    height: auto;
    padding: 15px 40px 30px 60px;
}
.curriculum p {
    margin-bottom: 5px;
}
#download-CV {
    color: rgb(6, 6, 84);
    text-decoration: none;
    font-size: 17px;
}
#download-CV:hover {
    color: rgb(209, 209, 62);
}
