/* VISTA WEB */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.index-container{
    width: 100%;
    display: flex;
    height: auto;
    margin: 0 auto;
    padding:0;
    justify-content: center;
    background-color: #667ac8;
}
.home-card {
    max-width:750px;
    height: auto;
}
.card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: auto;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(230, 205, 172);
    color: #444;
    padding: 30px;
}
.image-container {
    width: 100%;
    height: 290px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#avatar2 {
    width: 230px;
    height: 230px;
    border-radius: 15%;
    border: 3px solid white;
}
.card-text {
    margin-bottom: 30px;
}
.icono {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    border-radius: 10%;
}
.section-skills {
    display: inline-flex;
    gap: 25px;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
}
.subtitle-skills {
    margin-top: 4rem;
}
.span-skill {
    color: grey;
    width: 150px;
    height: 30px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 17px;
    margin-bottom: 20px;
}
.span-skill:hover {
    color: darkgrey;
    background-color: rgb(226, 125, 53);
    padding: 16px 20px;
}
.card-body p {
    width: 90%;
    color: rgb(103, 102, 102);
    text-align: center;
}
.links {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.links li {
    width: 50px;
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacto {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contacto a {
    list-style: none;
    text-decoration: none;
}
.contacto a:hover {
    color: darkorange;
}
.icon-social {
    width: 36px;
    height: 36px;
}
.links li .icon-social:hover {
    color: darkslategrey;
    width: 44px;
    height: 44px;
    opacity: .6;
}