/* VISTA WEB */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.index-container{
    display: flex;
    width: 100%;
    min-height: 320px;
    align-items: center;
    padding: 20px;
    gap: 20px;
    justify-content: space-between;
    background-color: #667ac8;
}
.home-card {
    position: relative;
    display: flex;
    max-width: 600px;
    height: 300px;
    align-items: center;
    border-radius: 25px;
    border: 1px solid white;
    background-color: #374786;
    opacity: .8;
    margin-left: 20px;
    padding: 35px;
}
.home-card p{
    max-width: 90%;

}
#avatar2 {
    width: 110px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid white;
    margin-bottom: 10px;
}
.card-body {
    color: white;
    margin-left: 20px;
    width: 80%;
}
.card-title {
    width: 300px;
    font-size: 18px;
    margin-bottom: 7px;
    margin-right: 40px;

}
.card-text {
    font-size: 15px;
    margin-bottom: 5px;
}

.home-card2 {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 400px;
    height: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid white;
    background-color: #374786;
    opacity: .8;
    color: white;
}
.home-card2 p {
    text-align: justify;
    font-size: 15px;
    max-width: 80%;

}
.url-repository, .link-portfolio {
    color: blue;
    text-decoration: none;

}
.url-repository:hover, .link-portfolio:hover {
    color: yellow;
}

@media(max-width:1000px) {
    .index-container{
        flex-direction: column;
    }
}

