* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* navbar principal */
.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(67, 103, 139);
    display: flex;
    justify-content: center;
}
.nav-links {
    width: 95%;
}
.nav-links .item a {
    font-size: 15px;
}
.nav-links .item a:hover {
    background-color: yellow;
    color: blue;
}