* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
a {
    cursor: pointer;
}

/* navbar principal */
.navbar {
    margin: 0;
    padding-left: 40px;
    box-sizing: border-box;
    width: 100%;
    min-height: 60px;
    background-color: #374786;
    border: none;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    min-height: 60px;
    display: flex;
    margin: 5px;
    padding-left: 40px;
    padding-right: 30px;
}
.nav-links a {
    list-style: none;
    border-radius: 20px;
    padding: 6px 25px;
    text-decoration: none;
}
.nav-links a .item {
    list-style: none;
    padding: 7px 15px;
    border-radius: 25px;
}
.nav-links a .item:hover {
    background-color: goldenrod;

}


/* .nav-links a li {
    color: #fff;
}
.nav-links li:hover {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    background-color: rgb(219, 195, 59);
    transition: .5s;    
} */


#ir {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}
.select-container {
    display: flex;
    width: 400px;
    right: 50px;
    margin-right: 20px;
    /* margin-bottom: 15px; */
}
.align-column-select-with-message {
    display: flex;
    flex-direction: column;
}
.select, option {
    color: blue;
    font-weight: bold;
}

@media(max-width: 1280px) {
    .navbar {
        justify-content: space-evenly;
    }
    .nav-links li {
        font-size: 16px;
        transition: .3s;
    }

    .select-container {
        margin-bottom: 15px;
    }
}

@media(max-width: 900px) {
    .navbar {
        flex-direction: column;
        transition: .3s;
        justify-content: center;
    }
    .nav-links {
        transition: .3s;
        flex-direction: column;
    }


}
