* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
a {
    cursor: pointer;
}

/* navbar principal */
.navbar {
    width: 100%;
    margin: 0;
    padding: 0 30px;
    box-sizing: border-box;
    background-color: #374786;
    border: none;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    height: 8vh;
    display: flex;
    margin: 5px;
}
.nav-links a {
    list-style: none;
    border-radius: 20px;
    text-decoration: none;
}
.nav-links a .item {
    list-style: none;
    padding: 7px 15px;
    border-radius: 25px;
}
.nav-links a .item:hover {
    background-color: gold;
    opacity: .8;
}

.select-container {
    display: flex;
    align-items: center;
    width: auto;
    right: 50px;
    margin-right: 30px;
    color: blue;
    gap: 10px;
}

#ir {
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 12px;
}
#message {
    font-size: 12px;
    font-style: italic;
}

.align-column-select-with-message {
    display: flex;
    flex-direction: column;
}
.select, option {
    text-align: center;
    color: blue;
    font-weight: bold;
}

@media(max-width: 1280px) {
    .navbar {
        justify-content: space-evenly;
    }

    .nav-links li {
        width: 100%;
        font-size: 16px;
        transition: .3s;
    }

    .select-container {
        margin-bottom: 15px;
    }
}

@media(max-width: 900px) {
    .navbar {
        flex-direction: column;
        transition: .3s;
        justify-content: center;
        padding-left: 0;
    }
    .nav-links {
        width: 100%;
        transition: .3s;
        flex-direction: column;
    }
    .select-container {
        margin: 0;
        padding: 0;
        align-items: center;
        margin-bottom: 20px;
    }

}
