/* container disposicion del Main */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-auto-rows: minmax(220px, auto);
    padding: 40px;
    gap: 30px;
    background-image: url('../images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
p {
    margin: 0;
    padding: 0;
    width: 290px;
    box-sizing: border-box;
}

/* tarjeta contenedora */
.grid-item {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(15, 22, 72);
    width: 270px;
    height: 260px;
    border-radius: 3%;
    background-color: rgb(52, 59, 141);
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.grid-item a {
    text-decoration: none;
}
.img-cert {
    width: 245px;
    height: 170px;
    border-radius: 3%;
}
.nombre-curso {
    width: 270px;
    height: 60px;
    display: flex;
    align-content: center;
}
.img-name {
    width: 236px;
    color: white;
    text-align: center;
}