* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
/* header principal */
.head-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: #181d33;
}

#avatar {
    width: auto;
    height: 12vh;
    border-radius: 50%;
    border: 5px double white;
    margin-top: 20px;
    margin-bottom: 8px;
}

/* Personal Info */
.title-container {
    text-align: center;
}
.first {
    font-size: 20px;
    font-weight: bold;
}
.second {
    font-size: 14px;
    margin-bottom: 13px;
}

/* navbar */
a {
    color: white;
    cursor: pointer;
}

/* navbar principal */
.navbar {
    width: 100%;
    margin: 0;
    padding: 0 30px;
    box-sizing: border-box;
    background-color: #374786;
    border: none;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    height: 10vh;
    display: flex;
    margin: 5px;
}
.nav-links a {
    list-style: none;
    border-radius: 20px;
    text-decoration: none;
}
.nav-links a .item {
    list-style: none;
    padding: 10px;
    border-radius: 25px;
}
.nav-links a .item:hover {
    background-color: gold;
    opacity: .8;
    transition: .3s;
}

.select-container {
    display: flex;
    align-items: center;
    width: auto;
    right: 50px;
    margin-right: 30px;
    color: blue;
    gap: 10px;
}

#ir {
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 12px;
}
#message {
    font-size: 12px;
    font-style: italic;
}

.align-column-select-with-message {
    display: flex;
    flex-direction: column;
}
.select, option {
    text-align: center;
    color: blue;
    font-weight: bold;
}

/* section index */
.index-container{
    width: 100%;
    display: flex;
    height: auto;
    margin: 0 auto;
    padding:0;
    justify-content: center;
    background-color: #667ac8;
}
.home-card {
    max-width:750px;
    height: auto;
}
.card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: auto;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(230, 205, 172);
    color: #444;
    padding: 30px;
}
.image-container {
    width: 100%;
    height: 290px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#avatar2 {
    width: 230px;
    height: 230px;
    border-radius: 15%;
    border: 3px solid white;
}
.card-text {
    margin-bottom: 30px;
}
.icono {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    border-radius: 10%;
}
.section-skills {
    display: inline-flex;
    gap: 25px;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
}
.subtitle-skills {
    margin-top: 4rem;
}
.span-skill {
    color: #444;
    width: 160px;
    height: 30px;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
.card-body p {
    width: 90%;
    color: rgb(103, 102, 102);
    text-align: center;
    padding: 10px 0;
    line-height: 1.8;
}
.links {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.links li {
    width: 50px;
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacto {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contacto a {
    color: rgb(103, 102, 102);
    list-style: none;
    text-decoration: none;
    font-size: 17px;
}
.contacto a:hover {
    color: darkorange;
}
.icon-social {
    width: 36px;
    height: 36px;
}
.links li .icon-social:hover {
    color: darkslategrey;
    width: 48px;
    height: 48px;
    opacity: .6;
    transition-duration: 0.2s;
}

/* section curriculum */
.curriculum-container {
    width: 100%;
    display: flex;
    background-color: #667ac8;
}

.central-col {
    width: 50%;
    min-width: 450px;
    height: 53vh;
    background-color: rgb(230, 205, 172);
    color: rgb(103, 102, 102);
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    margin: 0 auto;
}
.presentation {
    width: 75%;
    max-width: 400px;
    height: 210px;
    border-radius: 15px;
    padding: 30px 40px;
    border: 1px solid grey;
    border-radius: 15px;
    color: #000;
}
.presentation p {
    text-decoration: none;
    color: grey;
    font-size: 16px;
}
.presentation p a {
    color: darkslategrey;
    text-decoration: none;
    font-weight: bold;
}
.presentation p a:hover {
    color: goldenrod;
}

/* section certificados */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    padding: 30px;
    gap: 20px;
    background-color: #667ac8;
    min-height: calc(100vh - 310px);
}
p {
    margin: 0;
    padding: 0;
    width: 290px;
    box-sizing: border-box;
}

/* tarjeta contenedora */
.grid-item {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(15, 22, 72);
    width: 290px;
    height: 290px;
    border-radius: 15px;
    background-color: rgb(52, 59, 141);
    text-decoration: none;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.grid-item a {
    text-decoration: none;
}
.img-cert {
    width: 275px;
    height: 170px;
    border-radius: 15px 15px 0 0;
}
/* Contenedor del combre del curso */
.nombre-curso {
    width: 275px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* nombre de la imagen */
.img-name {
    width: 236px;
    color: white;
    text-align: center;
    font-size: 16px;
}

.footer-container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #181d33;
    padding-left: 40px;
    padding-right: 40px;
}

.footer-icons li a {
    text-decoration: none;
    font-size: 14px;
    border-radius: 35px;
    transition: .4s;
}
.footer-icons li a:hover {
    color: darkorange;
   
    opacity: .4;
}
.footer-icons li a:active {
        color: red;
}
.footer.contact {
    margin-right: 30px;
    font-size: 14px;
}
.email a {
    font-size: 14px;
    font-style: italic;
    color: white; 
}
.email a:hover {
    color: yellow; 
}

/* querys del navbar */
@media (max-width: 1330px) {
    .navbar {
        height: auto;
        padding: 20px;
        gap: 10px;
        justify-content: center;
    }
    .nav-links {
        width: 100%;
        justify-content: space-around;
    }
}
@media (max-width: 700px) {
    /* navbar */
    body {
        margin: 0;
    }
    .nav, ul, li, a {
        margin: 0;
        padding: 0;
        height: 40px;
    }
    .nav-links {
        margin: 0;
    }
    .navbar {
        position: relative;
        height: 310px;
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    .title-container {
        position: relative;
        top: 75px;
    }
    .nav-links {
        margin: 0;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 7px;
        padding: 10px;
    }
    .nav-links a {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        background-color: #2b48ca;
        border-radius: 0;
    }
    .nav-links a:hover {
        font-size: 18px;
    }
    .nav-links a .item:hover {
        padding: 0;
        background: #2b48ca;
    }
    .select-container, .select-width-message, .projects {
        height: 30px;
        margin: 0;
        padding: 0;
    }
    .select-container {
        position: relative;
        bottom: 20px;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 40px;
        padding-top: 0;
    }
}

/* querys del curriculum */
@media (max-width:550px) {
    .section-skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* querys vista certificados */
@media (max-width:700px) {

    .grid-container {
        grid-template-columns: 1fr;
        width: 100% !important;
        padding: 20px 6px;
    }
    .grid-item {
        width: 450px !important;
        height: 390px;
    }
    .img-cert {
        width: 430px;
        height: 280px;
        margin: 3px;
    }
    .nombre-curso {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-name {
        width: 90%;
        font-size: 16px;
        
    }
}