/* VISTA WEB */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: lightgray;
    position: relative;
}

.navbar {
    padding-left: 30px;
    font-size: 18px;
    font-weight: bold;
}

.select-container {
    display: flex;
    position: absolute;
    right: 40px;
}

/* LAYOUT INDEX */
.index-container {
    width: 100%;
    height: 400px;
    display: flex;
    margin-bottom: 5px;
}
.card {
    padding: 15px;
}
img {
    margin-left: 40px;
}
#avatar {
    width: 300px;
    height: 340px;
    border-radius: 50%;
}
h5 {
    margin-top: 10px;
}
.card-body {
    text-align: justify;
}

/* FOOTER */
.footer-container {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: rgb(36, 61, 85);
    padding-right: 30px;
    z-index: 0;
}
.footer-icons {
    width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-icons li {
    padding: 0;
    list-style: none;

}
.icon {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.footer-icons li a {
    text-decoration: none;
    font-size: 17px;
    border-radius: 35px;
    transition: .4s;
}
.footer-icons li a:hover {
    color: yellow;
    padding: 0;
    opacity: .4;
}
.footer-icons li a:active {
        color: red;
}
.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}
.footer-right p {
    margin: 0;
    padding: 0;
}
.footer-right #first {
    font-size: 12px;
    font-weight: bold;
}
.footer-right #second {
    font-size: 10px;
}

@media(max-width: 600px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }
    .index-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img {
        margin-bottom: 40px;
    }
}