/* VISTA MOVIL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.index-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: auto;
    background-color: #667ac8;
    padding: 40px 0 40px 40px;
}
.home-card {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 1px solid white;
    border-radius: 15px;
    align-items: center;
    padding: 20px;
    background-color: rgb(230, 205, 172);
    color: gray;
    justify-content: center;
}
.links {
    display: flex;
    flex-direction: column;
}
.social {
    color: gray;
    text-decoration: none;
}
.social:hover {
    font-size: 18px;
    color: darkslategrey;
}
.home-card p {

    font-size: 14px;
    margin: 0;
    color: gray;

}
.laterales {
    width: 0;
}
.card-body {
    width:100%;
    height: auto;
}
.image-container {
    display: flex;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
#avatar2 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px double white;
    margin-bottom: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-left: 0;
}
.url-repository, .link-portfolio {
    color: blue;
    text-decoration: none;

}
.url-repository:hover, .link-portfolio:hover {
    color: yellow;
}
.contact {
    display: none;
}