* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.curriculum-container {
    max-width: 600px;
    height: 380px;
    display: flex;
    justify-content: center;
    background-color: #667ac8;
    color: white;
    padding-top: 40px;
}
.box-download {
    width: 300px;
    height: 270px;
    background-color: rgb(69, 81, 168);
    border: 2px solid white;
    border-radius: 16px;
    padding: 25px 30px;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px; 
}
#download-CV {
    color: rgb(6, 6, 84);
    text-decoration: none;
    font-size: 17px;
}
#download-CV:hover {
    color: goldenrod;
    text-decoration: none;
    font-size: 17px;
}
.curriculum p {
    margin-bottom: 10px;
}
