/* MOBILE FIRST */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.head-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181d33;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 600px;
    height: 200px;
}
/* AVATAR */
.image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
    padding: 0;
    margin: 0;
}
#avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px double white;
    margin-top: 20px;
    margin-bottom: 10px;
}
.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* NAV-BAR */
.nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
    gap: 5px;
}
.nav-links li {
    width: 180px;
    height: 40px;
    border: 2px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: forestgreen;
    font-weight: bold;
}
.nav-links li a {
    font-size: 14px;
    color: white;
    text-decoration: none;

}