/* VISTA MOVIL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.index-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background-color: #181d33;
    justify-content: center;
    align-items: center;
}
.home-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 320px;
    border: 2px solid white;
    border-radius: 15px;
    margin-top: 40px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 30px 40px;
    background-color: rgb(69, 81, 168);
    color: white;
}
.imagen-container {
    display: flex;
    width: 100%;
    height: 95px;
    justify-content: center;
}
#avatar2 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px double white;
    margin-bottom: 10px;
}
.card-body {
    width: 210px;
}
.card-title {
    font-size: 18px;
    font-weight: bold;
}
.home-card2 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 330px;
    border: 3px solid white;
    border-radius: 15px;
    margin-bottom: 20px;
    align-items: center;
    margin-top: 30px;
    padding: 30px;
    background-color: rgb(69, 81, 168);
    color: white;
}
.home-card2 p {
    text-align: justify;
    margin-top: 7px;
}