* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    max-width: 600px;
    height:200px;
    background-color: rgb(67, 103, 139);
    margin-bottom: 30x;
    display: flex;
    padding: 7px;
    justify-content: center;
}
.nav-links {
    width: 90%;
}
.nav-links .item a {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}
.nav-links .item a:hover {
    background-color: yellow;
    color: blue;
}