* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    padding: 0;
    background-color: #667ac8;
}
.grid-item {
    display: flex;
    flex-direction: column;
    background-color: rgb(69, 81, 168);
    border: 2px solid white;
    border-radius: 10px;
    width: 300px;
    height: 345px;
    text-align: center;
    margin-top: 30px;
    padding: 0 10px 0 10px;
}
.img-cert {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 270px;
    height: 210px;
}
.nombre-curso {
    width: 270px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    text-decoration: none;
}
.grid-item:hover {
    cursor: pointer;
    width: 305px;
    height: 350px;
    .img-cert {
        width: 284px;
        height: 224px;
    }
}
